@model IEnumerable<CCHS_March_.Models.View_Models.ComplaintIndexViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<center><h2>Logged Complaints</h2></center>

@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(index => index.thisComplainant.FirstName).Titled("Firstname");
               columns.Add(index => index.thisComplainant.LastName).Titled("Lastname").Sortable(true);
               columns.Add(index => index.thisComplainant.Tel_Number).Titled("Telephone").Sortable(true).Filterable(true);
               //columns.Add(index => index.thisComlaint.Heading).Titled("Topic").Sortable(true);
               //columns.Add(index => index.thisComlaint.Status).Titled("Status").Sortable(true).Filterable(true);
               columns.Add(index => index.thisComlaint.DateOfSubmission).Titled("Date of Submission").Sortable(true).Filterable(true);
               columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Details", "Details", new { id = o.thisComlaint.Id }, new { @class = "form -control btn btn-info", }));
           }).WithPaging(20)




@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"> </script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
}
