body {
    background-color: #35577A;

    /*padding-top: 50px;*/
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.middle_area {
    background-color: #ffffff;
}

.heading_area {
    background-color: #C3F5F9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*===================Custom Styles Section===========================*/
.panel-ecb {
  border-color: #dddddd;
}

.panel-ecb > .panel-heading {
  color: #ffffff;
  background-color: #35577A;
  border-color: #dddddd;
}

.panel-ecb > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-ecb > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

textarea.notebook {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 20px;
    resize: vertical;
    font-size: 11px;
    line-height: 24px;
    -webkit-appearance: none;
    border-radius: 0;
    background: url(/Images/notebook.png);
}
