@model IEnumerable<CCHS_March_.Models.RegisterViewModel>
@using GridMvc.Html

<center><h2>User Accounts</h2></center>

@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(index => index.UserName).Titled("Username").Sortable(true).Filterable(true);
               columns.Add(index => index.Firstname).Titled("Firstname").Sortable(true).Filterable(true);
               columns.Add(index => index.Lastname).Titled("Lastname").Sortable(true).Filterable(true);
               columns.Add(index => index.Email).Titled("Email").Sortable(true).Filterable(true);
               columns.Add(index => index.Position).Titled("Position").Sortable(true).Filterable(true);
               columns.Add(index => index.AccountType).Titled("Account Type").Sortable(true).Filterable(true);               
               columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Manage Account", "Manage", new { id = o.UserName }, new { @class = "form -control btn btn-info", }));
           }).WithPaging(20)




@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"> </script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
}
